
<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html>
<!-- Head -->
<head>

<title>Monaco Weather Widget A Flat Responsive Widget Template :: w3layouts</title>

<!-- For-Mobile-Apps -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Monaco Weather Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //For-Mobile-Apps -->

<!-- Index-Page-CSS	  <link rel="stylesheet" href="css/style.css"		 type="text/css" media="all"> -->
<!-- Owl-Carousel-CSS <link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all"> -->

<!-- Fonts -->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" 						type="text/css" media="all">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" type="text/css" media="all">
<!-- //Fonts -->

<!-- Font-Awesome-File-Links -->
<!-- CSS <link rel="stylesheet" href="css/font-awesome.css" 	 	 type="text/css" media="all"> -->
<!-- <link rel="stylesheet" href="../assets/fonts/fontawesome-webfont.ttf" type="text/css" media="all"> -->
<!-- //Font-Awesome-File-Links -->


</head>
<!-- Head -->



<!-- Body -->
<body onload="startTime()">



	<!-- Heading -->
	<h1>KIEV WEATHER WIDGET</h1>
	<!-- //Headng -->



	<!-- Container -->
	<div class="container">

		<!-- Current-Weather-Widget -->
		<div class="weather-widget agileits w3layouts">
			<div class="place agileits w3layouts">

      <div>
      <app-main-weather></app-main-weather>
      </div>

				<div id="owl-demo" class="owl-carousel agileits text-center">
          
      <app-owl-item
			*ngFor="let iterItem of days"
			[week]="iterItem"
      ></app-owl-item>

			
				</div>

			</div>
		</div>
    <!-- //Current-Weather-Widget -->
    

	</div>
	<!-- //Container -->



	<!-- Footer -->
	<div class="footer">

		<!-- Copyright -->
		<div class="copyright ">
			<p> &copy; 2017 Monaco Weather Widget. All Rights Reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
		</div>
		<!-- //Copyright -->

	</div>
	<!-- //Footer -->

</body>
<!-- //Body -->



</html>